Source: alex-tools
Priority: extra
Maintainer: Alexis Wilke <alexis@m2osw.com>
Build-Depends: cmake,
    debhelper
Standards-Version: 3.9.4
Section: libs
Vcs-Git: https://github.com/AlexisWilke/alex-tools

Package: alex-tools
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Various Command Line Tools
 This package includes various tools I like to use around my Linux machines.
 Some of the entries are just shell scripts I use for example to list rules
 in my firewall.

# vim: ts=4 sw=4 et
